* {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #800000; /* Burgundy color */
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}
h1, h2 {
  text-align: center;
}



main {
  padding: 20px;
}

#courses-table {
  width: 100%;
  border-collapse: collapse;
}

#courses-table th,
#courses-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

#courses-table tr:nth-child(even) {
  background-color: #f2f2f2; /* Light grey background color for even rows */
}

.actions {
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.actions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.actions button:hover {
  text-decoration: underline;
}

.edit-button {
  color: blue; /* Blue color for edit button */
}

.delete-button {
  color: red; /* Red color for delete button */
}
