/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  width: 80%;
  margin: auto;
}

/* Header styles */
header {
  background-color: #800000; /* Burgundy color */
  color: #fff;
  padding: 20px;
  text-align: center;
}


.header-content {
  display: flex;
  align-items: center;
}

.header-content h1 {
  margin-left: 10px;
}

.login-btn {
  margin-left: auto;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

/* Main styles */
main {
  padding: 20px 0;
}
h4{
   color: black;
   font-family: fantasy;
}
.banner-container {
  display: flex;
  align-items: center;
  background-color: #ccc; /* Grey color */
}

.banner-container img {
  width: 50%;
}

.banner-text {
  width: 50%;
  padding: 20px;
}

.banner-text h2 {
  color: #800000;
  margin-bottom: 10px;
}

/* About us section styles */
.about-us {
  background-color:brown;
  padding: 20px;
  font-family: cursive;
  height: 200px;
  text-align: center;
  font-size: 20px;
}
/* Footer styles */
footer {
  background-color: black;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin-bottom: 10px;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  margin-bottom: 5px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

/* Signup section styles */
#signup {
  background-color: #800000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

#signup h2 {
  margin-bottom: 10px;
}

.register-btn{
  background-color: #fff;
  color: #800000;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

/* Contact section styles */
#contact {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  color: brown;
}

#contact h2 {
  margin-bottom: 10px;
}
