body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0; 
}

header {
  background-color: #800000; 
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333; 
  overflow: hidden; 
}

nav ul li {
  display: inline; 
}

nav ul li a {
  display: inline-block; 
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #555; 
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px;
  padding: 20px;
  flex: 1; 
}

.grid-container a {
  background: #f4f4f4;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s;
}

.grid-container a:hover {
  background-color: #e9e9e9;
}

